<section class="modal-overlay" id="overlay">
    <div class="modal" id="modal">

        <div class="modal-header">
            <h3>Remove Superhero!</h3>
            <a href="/" id="close-modal-put"><i class="bi bi-x-circle"></i></a>
        </div>

        <div class="modal-body">
            <p>Are you sure you want remove <%= characterDel.name %> of your list?</p>
            <div id="btns-del">
                <a id="no" href="/">No</a>
                <a id="yes" href="/remove/<%= characterDel.id %>">Yes</a>
            </div>
        </div>

    </div>
       
</section>