@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
	scroll-behavior:smooth;
}

nav {
	position: fixed;
	z-index: 9999;
	width: 100%;
	background-color: #0282F9;
}

nav img {
	width: 3rem;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: center;
}

nav ul li {
	padding: .6rem;
}

nav h1 {
	color: #ffffff;
	font-size: 1.5rem;
	text-align: center;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1rem;
}

header img {
	margin-top: 3.5rem;
	width: 100%;
}

main {
	margin: 0 10rem 0 10rem;
}

section#cards{
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
    margin-top: 1rem;
    color: #ffffff;
}

section#cards div.card {
	width: 18rem;
    box-shadow: 0 0 1em #00000075;
	border-radius: 35px;
	padding: 1.5rem;
	margin: 3rem 0 1rem 0;
	background-color: #19181D;
}

section#cards h2 {
	width: 100%;
	color: #0282F9;
	text-align: center;
	font-size: xx-large;
}

section#cards div.card img {
	width: 55%;
    border-radius: 100%;
}

section#cards div.card h3 {
    margin-top: 1rem;
    font-size: xx-large;
}

section#cards div.card p.description {
	margin-top: 1rem;
}

section#cards div.card a#edit {
	padding: .8rem;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	border-radius: 30px;
	font-size: 1rem;
	background-color: #ffffff;
	border: solid 1px rgb(67, 67, 67);
	color: rgb(67, 67, 67);
	cursor: pointer;
	transition: all .2s ease-in-out;
	text-decoration: none;
	margin-top: 1.5rem;
}

section#cards div.card a#delete {
	padding: .8rem;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	border-radius: 30px;
	font-size: 1rem;
	background-color: #ffffff;
	border: solid 1px rgb(172, 10, 10);
	color: rgb(172, 10, 10);
	cursor: pointer;
	transition: all .2s ease-in-out;
	text-decoration: none;
	margin-top: 1.5rem;
}

section#cards div.card a#edit:hover {
	background-color: #0282F9;
	color: rgb(255, 255, 255);
	border: solid 1px #0282F9;
}

section#cards div.card a#delete:hover {
	background-color: rgb(172, 10, 10);
	color: rgb(255, 255, 255);
	border: solid 1px rgb(172, 10, 10);
}

section#cards div.card p.alias {
	font-size: small;
    margin-bottom: 1rem;
}








section#register {
	display: flex;
	justify-content: center;
	padding: 6rem;
}

section#register img {
	width: 400px;
	height: 400px;
	margin-right: 125px;
	margin-top: 50px;
}

section#register h2 {
	width: 100%;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
	color: rgb(67, 67, 67);;
}

section#register form {
	width: 100%;
}

section#register form input {
	width: 100%;
	padding: .3rem;
	font-size: 1rem;
	outline: none;
	border-radius: 5px;
	border: solid 1px rgb(67, 67, 67);
	margin: .15rem 1rem 1rem 1rem;
}

section#register form label {
	margin: 1rem;
	color: rgb(67, 67, 67);
	font-weight: 600;
}

section#register form button {
	padding: .8rem;
	width: 35%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	border-radius: 30px;
	font-size: 1rem;
	font-weight: 600;
	background-color: #ffffff;
	border: solid 1px #0282F9;
	color: #0282F9;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

section#register form button:hover {
	background-color: #0282F9;
	color: rgb(255, 255, 255);
	border: solid 1px #0282F9;
}

footer {
	background-color: #0282F9;
	padding: 4rem;
	text-align: center;
	color: #fff;
	font-size: 1rem;
	margin-top: 5rem;
  }
  
  footer a {
	text-decoration: none;
	color: #fff;
  }
  
  footer a:hover{
	color: #19181D;
  }